# Virtual environment
venv/
.env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temp data
*.log
*.tmp

# Jupyter and notebooks checkpoints
.ipynb_checkpoints/

# Build and distribution
build/
dist/
*.egg-info/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
